header {
    padding: 10px;
    border-bottom: 1px solid gray;
}

header nav {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 1.8em;
}

header nav a {
    display: block;
    width: 100%;
    background: white;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
}

/* @media (min-width:900px) {
    header {
        display: grid;
        grid-template-areas: 'header navigation';
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    header nav a {
        margin: 0 5px;
        width: initial;
    }
}  */



header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: header;
    font-family: 'Audiowide', cursive;
    color: darkred;
}